<%- include('./Layouts/header.ejs') %>

    <div class="container mt-5 mb-5">
        <h1>Forget Password</h1>

        <form action="" method="POST">
            <input type="email" required placeholder="Enter Email" name="email">
            <br><br>
            <input type="submit" value="Forget Password" class="btn btn-info">
        </form>
    </div>

    <% 
        if(typeof message !== 'undefined'){
            %>
            <p><%= message %></p>
            <%
        }

    %>

<%- include('./Layouts/footer.ejs') %>